Repository espressif/arduino-esp32, pull requests merged in 2022-10, with the labels that each got.

#7383 Fix missing 't' in the name 'Department' for the MiniMain ESP32-S2 in boards.txt
  boards.txt
Labels: Type: 3rd party Boards

#7375 fixed AirM2M_CORE_ESP32C3 upload.tool.serial & write_flash error
  boards.txt
Labels: Type: 3rd party Boards

#7348 Add New Board: Cytron Maker Feather AIoT S3.
  boards.txt
  variants/cytron_maker_feather_aiot_s3/bootloader-tinyuf2.bin
  variants/cytron_maker_feather_aiot_s3/partitions-8MB-tinyuf2.csv
  variants/cytron_maker_feather_aiot_s3/pins_arduino.h
  variants/cytron_maker_feather_aiot_s3/tinyuf2.bin
  variants/cytron_maker_feather_aiot_s3/variant.cpp
Labels: Status: Pending Merge, Type: 3rd party Boards

#7385 Update of supported SoCs
  docs/source/getting_started.rst
Labels: Type: Documentation

#7332 TBeam adds a revision option to facilitate the differentiation of boa…
  boards.txt
Labels: Type: 3rd party Boards

#7307 [Termod S3] fix rebooting while reading charge state
  variants/tamc_termod_s3/variant.cpp
Labels: Type: 3rd party Boards

#7345 Add BPI-Leaf-S3 board.
  boards.txt
  variants/bpi_leaf_s3/pins_arduino.h
Labels: Type: 3rd party Boards

#7260 Added Docs for Rainmaker
  docs/source/api/rainmaker.rst
Labels: Type: Documentation
