Repository espressif/arduino-esp32, pull requests merged in 2022-11, with the labels that each got.

#7402 Fixes UART pin detach on Serial.end()
  cores/esp32/HardwareSerial.cpp
  cores/esp32/HardwareSerial.h
  cores/esp32/esp32-hal-uart.c
  cores/esp32/esp32-hal-uart.h
Labels: Area: Peripherals API

#7374 Update github actions to fix deprecation message
  .github/workflows/docs.yml
  .github/workflows/gh-pages.yml
  .github/workflows/hil.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/upload-idf-component.yml
Labels: Type: CI & Testing

#7319 [BLE Client] Fix deadlock if connection loss while readValue
  libraries/BLE/src/BLERemoteCharacteristic.cpp
Labels: Area: BT&Wifi

#7413 Added TOUCH test sketch + test script
  tests/touch/test_touch.py
  tests/touch/touch.ino
Labels: Type: CI & Testing, hil_test

#7362 Add the Partition Scheme Menu to HELTEC LoRa32 V1
  boards.txt
Labels: Type: 3rd party Boards

#7415 [DOCS] Add ESP32S3 to libraries support list
  docs/source/libraries.rst
Labels: Type: Documentation

#7421 [DOCS] Add TOUCH peripheral API
  cores/esp32/esp32-hal-touch.h
  docs/source/api/touch.rst
Labels: Type: Documentation, Area: Peripherals API

#7438 remove obsolete partition.csv for adafruit feather esp32s3
  variants/adafruit_feather_esp32s3/partitions.csv
  variants/adafruit_feather_esp32s3_tft/partitions.csv
Labels: Type: 3rd party Boards

#7338 updated Deneyap boards pin_arduino.h files
  boards.txt
  variants/deneyapkart/pins_arduino.h
  variants/deneyapkart1A/pins_arduino.h
  variants/deneyapkartg/pins_arduino.h
  variants/deneyapmini/pins_arduino.h
Labels: Type: 3rd party Boards

#7344 WiFi Should Reconnect For Most Reasons
  libraries/WiFi/src/WiFiGeneric.cpp
  libraries/WiFi/src/WiFiGeneric.h
Labels: Area: BT&Wifi

#7439 Add touch sleep wakeup API
  cores/esp32/esp32-hal-touch.c
  cores/esp32/esp32-hal-touch.h
  docs/source/api/touch.rst
  libraries/ESP32/examples/DeepSleep/TouchWakeUp/TouchWakeUp.ino
Labels: Area: Peripherals API, Status: Pending Merge

#7346 LEDC - AnalogWrite new API + ledcAttachPin duty fix
  cores/esp32/esp32-hal-ledc.c
  cores/esp32/esp32-hal.h
Labels: Area: Peripherals API

#7436 Add enableScenes API in Rainmaker
  docs/source/api/rainmaker.rst
  libraries/RainMaker/examples/RMakerCustom/RMakerCustom.ino
  libraries/RainMaker/examples/RMakerCustomAirCooler/RMakerCustomAirCooler.ino
  libraries/RainMaker/examples/RMakerSonoffDualR3/RMakerSonoffDualR3.ino
  libraries/RainMaker/examples/RMakerSwitch/RMakerSwitch.ino
  libraries/RainMaker/src/RMaker.cpp
  libraries/RainMaker/src/RMaker.h
Labels: Area: Rainmaker

#7214 Update Arduino as ESP-IDF documentation: How to use USBHID classes with ESP32-S2 and ESP32-S3
  docs/source/esp-idf_component.rst
Labels: Type: Documentation

#7237 Add I2C and SPI pin definitions to wt32-eth01 pins configuration
  variants/wt32-eth01/pins_arduino.h
Labels: Type: 3rd party Boards

#7514 Changed Rainmaker WiFi/Factory reset time.
  libraries/RainMaker/src/RMakerUtils.cpp
Labels: Area: Rainmaker
