Repository espressif/arduino-esp32, pull requests merged in 2022-07, with the labels that each got.

#6813 Rainmaker library extension
  libraries/RainMaker/examples/RMakerCustomAirCooler/README.md
  libraries/RainMaker/examples/RMakerCustomAirCooler/RMakerCustomAirCooler.ino
  libraries/RainMaker/src/RMakerParam.cpp
  libraries/RainMaker/src/RMakerParam.h
  libraries/RainMaker/src/RMakerType.cpp
  libraries/RainMaker/src/RMakerType.h
Labels: Area: Libraries, Status: Pending Merge

#6916 tests: Add options.
  .github/scripts/on-push.sh
  .github/scripts/sketch_utils.sh
  .github/scripts/tests_build.sh
  .github/scripts/tests_run.sh
  .github/workflows/hil.yml
  tests/.gitignore
  tests/democfg/cfg.json
  tests/democfg/democfg.ino
  tests/democfg/test_democfg.py
Labels: Type: CI & Testing, hil_test

#6993 CameraWebServer example fix
  libraries/ESP32/examples/Camera/CameraWebServer/app_httpd.cpp
Labels: Type: Example

#6962 Fixed instances where qspi has been renamed to qio in boards.txt
  boards.txt
Labels: Status: Test needed, Priority: High :mount_fuji:

#6990 Added #include <vector> into BLEAdvertisedDevice.h
  libraries/BLE/src/BLEAdvertisedDevice.h
Labels: Area: Libraries

#7036 docs: add FAQ entry about modifying sdkconfig options
  docs/source/faq.rst
Labels: Type: Documentation

#7000 Fixes Arduino Wire::begin overload
  cores/esp32/esp32-hal-i2c.c
  libraries/Wire/src/Wire.h
Labels: Status: Pending Merge

#6963 Add the new MiniMain ESP32-S2 board created by Department of Alchemy.
  boards.txt
  variants/department_of_alchemy_minimain_esp32s2/bootloader-tinyuf2.bin
  variants/department_of_alchemy_minimain_esp32s2/partitions-4MB-tinyuf2.csv
  variants/department_of_alchemy_minimain_esp32s2/pins_arduino.h
  variants/department_of_alchemy_minimain_esp32s2/tinyuf2.bin
  variants/department_of_alchemy_minimain_esp32s2/variant.cpp
Labels: Type: 3rd party Boards

#6989 Add TXD2 and RXD2 pin definitions
  variants/m5stack_atom/pins_arduino.h
  variants/m5stack_fire/pins_arduino.h
  variants/m5stick_c/pins_arduino.h
Labels: Type: 3rd party Boards

#7008 [NINA-W1] more build menu options
  boards.txt
Labels: Type: 3rd party Boards

#7038 Add new variant ESP32 Thing Plus C. Update boards file.
  boards.txt
  variants/esp32thing_plus_c/pins_arduino.h
Labels: Type: 3rd party Boards

#7004 [WIFI] ifdef check should match log_x function call
  libraries/WiFi/src/WiFiGeneric.cpp
Labels: Area: BT&Wifi

#7037 ./.github/scripts: Restore the build directory
  .github/scripts/sketch_utils.sh
  .github/scripts/tests_run.sh
Labels: Type: CI & Testing, hil_test

#7016 Adds Wire::setBufferSize function
  libraries/Wire/src/Wire.cpp
  libraries/Wire/src/Wire.h
Labels: Type: Feature request, Area: Peripherals API
