Repository espressif/arduino-esp32, pull requests merged in 2022-08, with the labels that each got.

#7034 Adds default Wire1 pins auto-setup
  libraries/Wire/src/Wire.cpp
  variants/Microduino-esp32/pins_arduino.h
  variants/adafruit_qtpy_esp32/pins_arduino.h
  variants/adafruit_qtpy_esp32s2/pins_arduino.h
  variants/adafruit_qtpy_esp32s3_nopsram/pins_arduino.h
  variants/esp32micromod/pins_arduino.h
  variants/openkb/pins_arduino.h
Labels: Type: Feature request

#6998 Fixes HardwareSerial::availableForWrite + setTxBufferSize
  cores/esp32/esp32-hal-uart.c
Labels: Status: Pending Merge

#7085 Add SparkFun IoT RedBoard
  boards.txt
  variants/sparkfun_esp32_iot_redboard/pins_arduino.h
Labels: Type: 3rd party Boards

#7094 add lolin s3 board def
  boards.txt
  variants/lolin_s3/pins_arduino.h
Labels: Type: 3rd party Boards

#7079 LEDC 1-bit mode duty fix.
  cores/esp32/esp32-hal-ledc.c
Labels: Area: Peripherals API

#7093 Added Smart Bee Design Boards
  boards.txt
  variants/Bee_Motion/pins_arduino.h
  variants/Bee_Motion_Mini/pins_arduino.h
  variants/Bee_Motion_S3/pins_arduino.h
  variants/Bee_S3/pins_arduino.h
Labels: Type: 3rd party Boards

#7030 Add full setsocketoption to WifiClient and WifiClientSecure
  libraries/WiFi/src/WiFiClient.cpp
  libraries/WiFi/src/WiFiClient.h
  libraries/WiFiClientSecure/src/WiFiClientSecure.cpp
  libraries/WiFiClientSecure/src/WiFiClientSecure.h
Labels: Area: BT&Wifi

#7043 Add erase flash option to Arduino IDE menu
  boards.txt
  docs/source/guides/tools_menu.rst
  platform.txt
Labels: Type: Feature request

#7002 UpdateClass - speedup flash erase/writes
  libraries/Update/src/Update.h
  libraries/Update/src/Updater.cpp
Labels: Status: Pending Merge

#7099 Improves time for setting touch interrupt
  cores/esp32/esp32-hal-touch.c
Labels: Area: BT&Wifi, Status: In Progress

#7012 WebServer: rename & expose internal 'contentLength' variable for POST…
  libraries/WebServer/src/Parsing.cpp
  libraries/WebServer/src/WebServer.cpp
  libraries/WebServer/src/WebServer.h
Labels: Type: Feature request, Area: Libraries

#6885 Added NVS test sketch + test script
  tests/nvs/cfg.json
  tests/nvs/nvs.ino
  tests/nvs/test_nvs.py
Labels: Status: Pending, Type: CI & Testing, hil_test

#7101 Create M5Station pins_arduino.h and M5Station Board
  boards.txt
  variants/m5stack_station/pins_arduino.h
Labels: Type: 3rd party Boards

#7104 Fixed CHANNEL in ESPNow example
  libraries/ESP32/examples/ESPNow/Basic/Master/Master.ino
Labels: Type: Example

#7112 Fixes Cookie Case Sensitivity
  libraries/HTTPClient/src/HTTPClient.cpp
Labels: Area: BT&Wifi

#7019 Enable configuring target variants
  CMakeLists.txt
  Kconfig.projbuild
Labels: Status: Pending

#7021 Update .gitignore
  .gitignore
Labels: Status: Pending

#7127 Update esptool to version 4.2.1
  .github/scripts/on-push.sh
  package/package_esp32_index.template.json
Labels: Status: Pending

#7144 fixed names on the VID and PID for my boards in boards.txt
  boards.txt
Labels: Type: 3rd party Boards

#6955 Compile error if CONFIG_FREERTOS_HZ != 1000
  .github/workflows/push.yml
  CMakeLists.txt
  docs/source/esp-idf_component.rst
Labels: Status: Pending, Area: Arduino as ESP-IDF component

#7171 Fixed switch rename issue in examples espressif/esp-rainmaker#152
  libraries/RainMaker/examples/RMakerSonoffDualR3/RMakerSonoffDualR3.ino
  libraries/RainMaker/examples/RMakerSwitch/RMakerSwitch.ino
Labels: Type: Example
