Repository espressif/arduino-esp32, pull requests merged in 2022-12, with the labels that each got.

#7523 Add new board: RedPill ESP32S3.
  boards.txt
  variants/redpill_esp32s3/pins_arduino.h
  variants/redpill_esp32s3/tinyuf2.bin
Labels: Resolution: Awaiting response, Type: 3rd party Boards

#7550 TWAI: Add receive example (Copy of #7430)
  libraries/ESP32/examples/TWAI/TWAIreceive/TWAIreceive.ino
Labels: Type: Example

#7229 Implements seekDir and getNextFileName on FS Lib to improve performance
  libraries/FS/src/FS.cpp
  libraries/FS/src/FS.h
  libraries/FS/src/FSImpl.h
  libraries/FS/src/vfs_api.cpp
  libraries/FS/src/vfs_api.h
Labels: Type: Feature request, Resolution: Awaiting response, Area: Libraries

#7351 Fix unnecessary DNS query in hostByName and deadlock in ssl_client
  libraries/WiFi/src/WiFiGeneric.cpp
  libraries/WiFiClientSecure/src/ssl_client.cpp
  libraries/WiFiClientSecure/src/ssl_client.h
Labels: Area: BT&Wifi

#7471 AnalogWrite - frequency and resolution log errors + returns
  cores/esp32/esp32-hal-ledc.c
  docs/source/api/ledc.rst
Labels: Area: Peripherals API

#7533 Update camera example for support LED Intensity
  libraries/ESP32/examples/Camera/CameraWebServer/CameraWebServer.ino
  libraries/ESP32/examples/Camera/CameraWebServer/app_httpd.cpp
  libraries/ESP32/examples/Camera/CameraWebServer/camera_pins.h
Labels: Type: Example

#7295 Support JTAG debugging in Arduino IDE 2.0
  .github/scripts/on-release.sh
  .gitignore
  boards.txt
  package/package_esp32_index.template.json
  platform.txt
  tools/ide-debug/esp32.json
  tools/ide-debug/esp32c3.json
  tools/ide-debug/esp32s2.json
  tools/ide-debug/esp32s3.json
  tools/ide-debug/svd/esp32.svd
  tools/ide-debug/svd/esp32c2.svd
  tools/ide-debug/svd/esp32c3.svd
  tools/ide-debug/svd/esp32c6.svd
  tools/ide-debug/svd/esp32h2.svd
  tools/ide-debug/svd/esp32s2.svd
  tools/ide-debug/svd/esp32s3.svd
  tools/ide-debug/svd/esp8266.svd
Labels: Type: Feature request, IDE: Arduino IDE, Priority: High :mount_fuji:

#7577 WiFiGeneric: remove deprecated tcpip_adapter calls
  libraries/WiFi/src/WiFiGeneric.cpp
Labels: Area: BT&Wifi

#7496 fixes UART at lower than 80MHz | S3 C3
  cores/esp32/esp32-hal-uart.c
Labels: Chip: ESP32-C3, Chip: ESP32-S3, Area: Peripherals API, Peripheral: UART

#7525 Improves UART reading performance
  cores/esp32/HardwareSerial.cpp
  cores/esp32/HardwareSerial.h
  cores/esp32/esp32-hal-uart.c
  cores/esp32/esp32-hal-uart.h
Labels: Area: Performance, Area: Peripherals API, Peripheral: UART

#7526 fixes non existent esp32_adc2gpio
  variants/AirM2M_CORE_ESP32C3/pins_arduino.h
  variants/Bee_Motion/pins_arduino.h
  variants/Bee_Motion_Mini/pins_arduino.h
  variants/Bee_S3/pins_arduino.h
  variants/cnrs_aw2eth/pins_arduino.h
  variants/deneyapkart1A/pins_arduino.h
  variants/esp32s3box/pins_arduino.h
  variants/esp32s3camlcd/pins_arduino.h
  variants/m5stack_station/pins_arduino.h
  variants/um_feathers3/pins_arduino.h
  variants/um_pros3/pins_arduino.h
  variants/um_rmp/pins_arduino.h
  variants/um_tinys3/pins_arduino.h
Labels: Type: Bug :bug:, Area: Peripherals API

#7528 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: Type: Documentation

#7590 [Docs] Fixed the countUp description
  docs/source/api/timer.rst
Labels: Type: Documentation

#7537 Fix wrong environment variable in libraries/LittleFS/examples/LITTLEFS_PlatformIO/littlefsbuilder.py.
  libraries/LittleFS/examples/LITTLEFS_PlatformIO/littlefsbuilder.py
Labels: IDE: PlaformIO

#7559 Added onDisconnect with gatt parameters to BLEServerCallbacks, equivalent to the existing onConnect
  libraries/BLE/src/BLEServer.cpp
  libraries/BLE/src/BLEServer.h
Labels: Area: BT&Wifi, Status: Awaiting triage

#7553 Added missing API references
  .gitignore
  docs/source/api/ble.rst
  docs/source/api/bluetooth.rst
  docs/source/api/deepsleep.rst
  docs/source/api/espnow.rst
  docs/source/api/ethernet.rst
  docs/source/api/hall_sensor.rst
  docs/source/api/pulse_counter.rst
  docs/source/api/reset_reason.rst
  docs/source/api/rmt.rst
  docs/source/api/sdio.rst
  docs/source/api/sdmmc.rst
  docs/source/api/spi.rst
Labels: Type: Documentation

#6938 Add ESP-C3-M1-I-Kit board
  boards.txt
  esp_c3_m1_i_kit/pins_arduino.h
Labels: Status: Pending, Resolution: Awaiting response, Type: 3rd party Boards

#7592 Release version update to 2.0.6 in the Docs
  docs/source/conf.py
Labels: Type: Documentation

#7591 Rainmaker Example Changes
  libraries/RainMaker/examples/RMakerCustom/RMakerCustom.ino
  libraries/RainMaker/examples/RMakerCustomAirCooler/RMakerCustomAirCooler.ino
  libraries/RainMaker/examples/RMakerSonoffDualR3/RMakerSonoffDualR3.ino
  libraries/RainMaker/examples/RMakerSwitch/RMakerSwitch.ino
Labels: Type: Example

#7541 FS: Performance improvements in vfs_api
  libraries/FS/src/vfs_api.cpp
Labels: Area: Performance, Area: Libraries

#7372 Fix BluetoothSerial thinking it's disconnected
  libraries/BluetoothSerial/src/BluetoothSerial.cpp
Labels: Area: BT&Wifi, Status: Awaiting triage

#7561 refactor(toString method): Add RSSI / serviceData
  libraries/BLE/src/BLEAdvertisedDevice.cpp
Labels: Area: BT&Wifi

#7410 Added support for heltec_wifi_lora_32_V3 and heltec_wifi_kit_32_V3
  boards.txt
  variants/heltec_wifi_kit_32_v3/pins_arduino.h
  variants/heltec_wifi_lora_32_V3/pins_arduino.h
Labels: Resolution: Awaiting response, Type: 3rd party Boards

#7470 replaced original BLE_iBeacon.ino example with a known-good one
  libraries/BLE/examples/BLE_iBeacon/BLE_iBeacon.ino
Labels: Resolution: Awaiting response, Type: Example

#7378 Update `WiFiScan` example to show more useful data
  libraries/WiFi/examples/WiFiScan/README.md
  libraries/WiFi/examples/WiFiScan/WiFiScan.ino
Labels: Area: BT&Wifi, Resolution: Awaiting response, Type: Example

#7612 Reflect ledc API changes in Docs
  docs/source/api/ledc.rst
Labels: Type: Documentation

#7412 Fixes inconsistencies and adds extended HardwareSerial examples
  cores/esp32/HardwareSerial.cpp
  cores/esp32/HardwareSerial.h
  cores/esp32/esp32-hal-uart.c
  cores/esp32/esp32-hal-uart.h
  libraries/ESP32/examples/Serial/OnReceiveError_BREAK_Demo/OnReceiveError_BREAK_Demo.ino
  libraries/ESP32/examples/Serial/OnReceive_Demo/OnReceive_Demo.ino
  libraries/ESP32/examples/Serial/RxFIFOFull_Demo/RxFIFOFull_Demo.ino
  libraries/ESP32/examples/Serial/RxTimeout_Demo/RxTimeout_Demo.ino
Labels: Area: Peripherals API, Type: Example, Peripheral: UART

#7597 Fix potential CORRUPT HEAP problem on libraries/BLE/src/BLEDevice.cpp
  libraries/BLE/src/BLEDevice.cpp
  libraries/BLE/src/BLEDevice.h
Labels: Area: BT&Wifi

#7512 Fixed issue where esp32 won't reconnect to WiFi AP if the AP was restarted.
  libraries/WiFi/examples/WiFiClientConnect/README.md
  libraries/WiFi/examples/WiFiClientConnect/WiFiClientConnect.ino
  libraries/WiFi/src/WiFiGeneric.cpp
Labels: Area: BT&Wifi, Status: In Progress, Type: Example
