Repository espressif/arduino-esp32, pull requests merged in 2023-08, with the labels that each got.

#8486 MD5 memory leak fix
  cores/esp32/MD5Builder.cpp
Labels: Type: Bug :bug:

#8485 fixes preprocessor test
  libraries/WiFiProv/examples/WiFiProv/WiFiProv.ino
Labels: Type: Bug :bug:, Area: BT&Wifi

#8460 Add v2.0.11 into issue template
  .github/ISSUE_TEMPLATE/Issue-report.yml
Labels: Type: Documentation, Status: Pending Merge

#8512 SPI - fix attach pin for ESP32-S3
  .github/ISSUE_TEMPLATE/Issue-report.yml
  cores/esp32/esp32-hal-spi.c
Labels: Area: Peripherals API

#8477 Fixing UART1 pins for esp-idf-v5.1-libs
  cores/esp32/HardwareSerial.cpp
Labels: Peripheral: UART

#8551 Fixes ESP32 BT Memory Releasing
  cores/esp32/esp32-hal-bt.c
  cores/esp32/esp32-hal-misc.c
Labels: Area: BT&Wifi

#8541 Reimplemented flush in WiFiClient
  libraries/WiFi/src/WiFiClient.cpp
Labels: Status: Pending Merge

#8533 added lilygo t-display (esp32-based) board definition
  boards.txt
  variants/lilygo_t_display/pins_arduino.h.txt
Labels: Status: Pending Merge, Type: 3rd party Boards

#8530 New 3rd Party Boards - 4D Systems
  boards.txt
  variants/esp32_s3r8n16/gen4esp32_16MBapp.csv
  variants/esp32_s3r8n16/gen4esp32_2MBapp_2MBota_12MBspiffs.csv
  variants/esp32_s3r8n16/gen4esp32_4MBapp_4MBota_7MBspiffs.csv
  variants/esp32_s3r8n16/gen4esp32_8MBapp_8MBota.csv
  variants/esp32_s3r8n16/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#8521 Small pin updates for MatrixPortal S3
  variants/adafruit_matrixportal_esp32s3/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#8520 When FFat is mounted before SD, then filesystem reports wrong system sizes
  libraries/SD/src/SD.cpp
Labels: Area: Libraries, Status: Review needed

#8493 Update adc.rst
  docs/source/api/adc.rst
Labels: Type: Documentation, Status: Pending Merge

#8487 Added new UM NanoS3 board.
  boards.txt
  variants/um_nanos3/bootloader_tinyuf2.bin
  variants/um_nanos3/partitions_tinyuf2.csv
  variants/um_nanos3/pins_arduino.h
  variants/um_nanos3/tinyuf2.bin
Labels: Status: Pending Merge, Type: 3rd party Boards

#8478 add Adafruit metro S3 16MB Flash, 8MB PSRam
  boards.txt
  variants/adafruit_metro_esp32s3/bootloader-tinyuf2.bin
  variants/adafruit_metro_esp32s3/partitions-16MB-tinyuf2.csv
  variants/adafruit_metro_esp32s3/pins_arduino.h
  variants/adafruit_metro_esp32s3/tinyuf2.bin
  variants/adafruit_metro_esp32s3/variant.cpp
Labels: Status: Pending Merge, Type: 3rd party Boards

#8500 add 'NO_GLOBAL_UPDATE' define to disable global UpdateClass instance
  libraries/Update/src/Update.h
  libraries/Update/src/Updater.cpp
Labels: Status: Awaiting triage, Status: Review needed

#8462 feature(m5stack-atom): allow events and loop on core0 in boards.txt
  boards.txt
Labels: Status: Pending Merge, Type: 3rd party Boards

#8298 SD_MMC update
  libraries/SD/examples/SD_Test/SD_Test.ino
  libraries/SD/examples/SD_time/SD_time.ino
  libraries/SD_MMC/examples/SDMMC_Test/SDMMC_Test.ino
  libraries/SD_MMC/examples/SDMMC_time/SDMMC_time.ino
Labels: Area: Peripherals API, Type: Example

#8509 ledc.c: Fix analogWrite() last channel available verification
  cores/esp32/esp32-hal-ledc.c
Labels: Area: Peripherals API, Status: Pending Merge

#8565 Nano ESP32: add pin numbering option
  boards.txt
  cores/esp32/FunctionalInterrupt.h
  cores/esp32/io_pin_remap.h
  variants/arduino_nano_nora/io_pin_remap.cpp
  variants/arduino_nano_nora/pins_arduino.h
  variants/arduino_nano_nora/variant.cpp
Labels: Type: 3rd party Boards

#8567 Nano ESP32: add debug support
  boards.txt
  platform.txt
  tools/ide-debug/esp32s3-arduino.json
Labels: Type: 3rd party Boards

#8582 new industrial boards namino rosso / namino arancio
  boards.txt
  variants/namino_arancio/pins_arduino.h
  variants/namino_rosso/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#8241 Doc update: Troubleshooting + SD libs
  docs/source/faq.rst
  docs/source/troubleshooting.rst
  docs/source/tutorials/cdc_dfu_flash.rst
  docs/source/tutorials/io_mux.rst
  libraries/SD/README.md
  libraries/SD_MMC/README.md
  libraries/SD_MMC/examples/SDMMC_Test/SDMMC_Test.ino
  libraries/SD_MMC/src/SD_MMC.cpp
Labels: Type: Documentation, Status: Pending Merge

#8569 Adding New Lion:Bit STEM Board
  boards.txt
  variants/lionbits3/pins_arduino.h
Labels: Resolution: Awaiting response, Status: Pending Merge, Type: 3rd party Boards

#8587 Added support for the Aventen S3 Sync
  boards.txt
  variants/Aventen_S3_Sync/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards
