Repository espressif/arduino-esp32, pull requests merged in 2023-07, with the labels that each got.

#8389 HW Testing - Pytest update
  .github/workflows/hil.yml
  tests/requirements.txt
Labels: Type: CI & Testing

#8336 Update gpio.rst Documentation: typo in function name 'attachInterrupt'
  docs/source/api/gpio.rst
Labels: Type: Documentation, Status: Pending Merge

#8360 Add TWAI transmit example
  libraries/ESP32/examples/TWAI/TWAItransmit/TWAItransmit.ino
Labels: Type: Example

#8417 Add Arduino Nano ESP32 target
  .github/scripts/on-release.sh
  boards.txt
  cores/esp32/Arduino.h
  cores/esp32/FunctionalInterrupt.cpp
  cores/esp32/HardwareSerial.cpp
  cores/esp32/USB.cpp
  cores/esp32/io_pin_remap.h
  libraries/I2S/src/I2S.cpp
  libraries/SD_MMC/src/SD_MMC.cpp
  libraries/SPI/src/SPI.cpp
  package/package_esp32_index.template.json
  platform.txt
  tools/partitions/app3M_fat9M_fact512k_16MB.csv
  variants/arduino_nano_nora/dfu_callbacks.cpp
  variants/arduino_nano_nora/double_tap.c
  variants/arduino_nano_nora/double_tap.h
  variants/arduino_nano_nora/extra/nora_recovery/README.md
  variants/arduino_nano_nora/extra/nora_recovery/nora_recovery.ino
  variants/arduino_nano_nora/extra/nora_recovery/nora_recovery.ino.bin
  variants/arduino_nano_nora/io_pin_remap.cpp
  variants/arduino_nano_nora/pins_arduino.h
  variants/arduino_nano_nora/variant.cpp
Labels: Type: 3rd party Boards

#8352 Add .readthedocs.yaml configuration file
  .github/workflows/docs.yml
  .readthedocs.yaml
  .readthedocs.yml
Labels: Type: Documentation

#8404 HW Testing - ESP32-C6 + ESP32-H2 fixes
  .github/workflows/hil.yml
  tests/democfg/cfg.json
  tests/nvs/cfg.json
  tests/requirements.txt
Labels: Type: CI & Testing, hil_test
