Repository espressif/arduino-esp32, pull requests merged in 2023-12, with the labels that each got.

#8948 Adding a note to allow access to PR secrets into PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Type: Documentation, Status: Pending Merge

#8950 [CI] Add to Boards Test check if build.board is uppercase
  .github/workflows/boards.yml
Labels: Type: CI & Testing, Status: Pending Merge, Type: 3rd party Boards

#8166 Add USB MIDI support to libraries/USB
  CMakeLists.txt
  libraries/USB/examples/MIDI/MidiController/.skip.esp32
  libraries/USB/examples/MIDI/MidiController/.skip.esp32c3
  libraries/USB/examples/MIDI/MidiController/.skip.esp32c6
  libraries/USB/examples/MIDI/MidiController/.skip.esp32h2
  libraries/USB/examples/MIDI/MidiController/MidiController.ino
  libraries/USB/examples/MIDI/MidiInterface/.skip.esp32
  libraries/USB/examples/MIDI/MidiInterface/.skip.esp32c3
  libraries/USB/examples/MIDI/MidiInterface/.skip.esp32c6
  libraries/USB/examples/MIDI/MidiInterface/.skip.esp32h2
  libraries/USB/examples/MIDI/MidiInterface/MidiInterface.ino
  libraries/USB/examples/MIDI/MidiMusicBox/.skip.esp32
  libraries/USB/examples/MIDI/MidiMusicBox/.skip.esp32c3
  libraries/USB/examples/MIDI/MidiMusicBox/.skip.esp32c6
  libraries/USB/examples/MIDI/MidiMusicBox/.skip.esp32h2
  libraries/USB/examples/MIDI/MidiMusicBox/MidiMusicBox.ino
  libraries/USB/examples/MIDI/ReceiveMidi/.skip.esp32
  libraries/USB/examples/MIDI/ReceiveMidi/.skip.esp32c3
  libraries/USB/examples/MIDI/ReceiveMidi/.skip.esp32c6
  libraries/USB/examples/MIDI/ReceiveMidi/.skip.esp32h2
  libraries/USB/examples/MIDI/ReceiveMidi/ReceiveMidi.ino
  libraries/USB/src/USBMIDI.cpp
  libraries/USB/src/USBMIDI.h
Labels: Area: Libraries, Status: Pending Merge

#8956 Add 120Mhz cpu frequency option to setCpuFrequencyMhz()
  boards.txt
  cores/esp32/esp32-hal-cpu.c
Labels: Chip: ESP32-C6

#8105 Example: ResetReason2
  libraries/ESP32/examples/ResetReason/ResetReason/ResetReason.ino
  libraries/ESP32/examples/ResetReason/ResetReason2/ResetReason2.ino
Labels: Type: Example

#8672 Fix race condition in WiFiGenericClass::hostByName
  libraries/WiFi/src/WiFiGeneric.cpp
Labels: Status: Review needed, Area: WiFi

#8982 Fixes CI error in reset_reason.rst
  docs/source/api/reset_reason.rst
Labels: Type: CI & Testing, Priority: High :mount_fuji:, Status: Pending Merge

#7868 Replace new with malloc for non-class calls
  cores/esp32/Esp.cpp
  libraries/BLE/src/BLEAdvertising.cpp
  libraries/WebServer/src/WebServer.cpp
  libraries/WiFi/src/WiFiUdp.cpp
Labels: Status: Awaiting triage

#8991 [CI] ESP32 Arduino CI fixes for Windows runner
  .github/scripts/on-push.sh
  .github/scripts/sketch_utils.sh
Labels: Type: CI & Testing

#6676 ESPLwIPClient::setTimeout conflict fix with Stream::setTimeout
  libraries/HTTPClient/src/HTTPClient.cpp
  libraries/HTTPUpdate/examples/httpUpdateSecure/httpUpdateSecure.ino
  libraries/WebServer/src/WebServer.cpp
  libraries/WiFi/src/WiFiClient.cpp
  libraries/WiFi/src/WiFiClient.h
  libraries/WiFiClientSecure/src/WiFiClientSecure.cpp
Labels: Area: BT&Wifi

#8863 WiFiClients.setConnectionTimeout added
  libraries/WiFi/src/WiFiClient.cpp
  libraries/WiFi/src/WiFiClient.h
Labels: Status: Review needed, Area: WiFi

#9012 Fixes Malloc call in WebServer code
  libraries/WebServer/src/WebServer.cpp
Labels: Type: Bug :bug:

#7174 Add v6 support to IPAddress to match ArduinoCore-API
  cores/esp32/IPAddress.cpp
  cores/esp32/IPAddress.h
Labels: Status: Pending Merge

#7482 DNSServer refactoring, switch to AsyncUDP
  libraries/DNSServer/examples/CaptivePortal/CaptivePortal.ino
  libraries/DNSServer/src/DNSServer.cpp
  libraries/DNSServer/src/DNSServer.h
Labels: Resolution: Awaiting response, Area: Libraries, Status: Review needed

#9025 Add methods to enable/disable GPIOs interrupt
  cores/esp32/esp32-hal-gpio.c
  cores/esp32/esp32-hal-gpio.h
Labels: Area: Peripherals API

#8873 Revert "WiFiSTA - allow using DHCP again after disconnecting static IP"
  libraries/WiFi/src/WiFiSTA.cpp
Labels: Status: Pending Merge, Area: WiFi

#9021 Pin fixes for the Camera board
  variants/adafruit_camera_esp32s3/bootloader-tinyuf2.bin
  variants/adafruit_camera_esp32s3/pins_arduino.h
  variants/adafruit_camera_esp32s3/tinyuf2.bin
  variants/adafruit_camera_esp32s3/variant.cpp
  variants/adafruit_metro_esp32s3/bootloader-tinyuf2.bin
  variants/adafruit_metro_esp32s3/pins_arduino.h
  variants/adafruit_metro_esp32s3/tinyuf2.bin
  variants/adafruit_metro_esp32s3/variant.cpp
Labels: Resolution: Awaiting response, Status: Pending Merge, Type: 3rd party Boards

#7284 Fixes ESP32-S2 CDC Debug Logging
  cores/esp32/USBCDC.cpp
Labels: Type: Bug :bug:, Chip: ESP32-S2, Area: Peripherals API, Status: Pending Merge

#9027 undeprecate WiFiServer::available()
  libraries/WiFi/src/WiFiServer.h
Labels: Area: BT&Wifi, Status: Pending Merge

#8941 Added example to demonstrate using HardwareSerial with RS485 interfaces
  libraries/ESP32/examples/Serial/RS485_Echo_Demo/RS485_Echo_Demo.ino
Labels: Type: Example, Status: Pending Merge

#9003 Fixed the String::lastIndexOf bug
  cores/esp32/WString.cpp
Labels: Type: Bug :bug:, Status: Pending Merge

#9034 SD library: Fix format
  libraries/SD/src/sd_diskio.cpp
Labels: Area: Libraries, Status: Pending Merge
