Repository espressif/arduino-esp32, pull requests merged in 2023-01, with the labels that each got.

#7658 Gitter link update in Readme.md
  README.md
Labels: Type: Documentation

#7680 add mising TX1 RX1 for adafruit boards
  variants/adafruit_feather_esp32s2_reversetft/pins_arduino.h
  variants/adafruit_feather_esp32s2_tft/pins_arduino.h
  variants/adafruit_feather_esp32s3_tft/pins_arduino.h
  variants/adafruit_funhouse_esp32s2/pins_arduino.h
  variants/adafruit_magtag29_esp32s2/pins_arduino.h
  variants/adafruit_metro_esp32s2/pins_arduino.h
Labels: Type: 3rd party Boards

#7654 Create M5AtomS3 pins_arduino.h and M5AtomS3 Board
  boards.txt
  variants/m5stack_atoms3/pins_arduino.h
Labels: Type: 3rd party Boards

#7704 TouchRead examples, Fix typo T0 -> T1
  libraries/ESP32/examples/Touch/TouchRead/TouchRead.ino
Labels: Type: Example

#7665 Added the example guideline and template
  CONTRIBUTING.rst
  docs/source/contributing.rst
  libraries/ESP32/examples/Template/ExampleTemplate/ExampleTemplate.ino
  libraries/ESP32/examples/Template/ExampleTemplate/README.md
Labels: Type: Documentation, Type: Example

#7738 Added ESP32-S3 link to the datasheet
  libraries/ESP32/examples/Template/ExampleTemplate/README.md
Labels: Type: Documentation
