Repository espressif/arduino-esp32, pull requests merged in 2023-06, with the labels that each got.

#8338 LEDC Fade implementation
  cores/esp32/esp32-hal-ledc.c
  cores/esp32/esp32-hal-ledc.h
  docs/source/api/ledc.rst
  libraries/ESP32/examples/AnalogOut/LEDCFade/LEDCFade.ino
Labels: Area: Peripherals API, Status: Review needed

#8332 Fixes crash when calling twice HWCDC::end()
  cores/esp32/HWCDC.cpp
Labels: Type: Bug :bug:, Chip: ESP32-C3, Chip: ESP32-S3, Area: Peripherals API

#8297 ETHERNET - Peripheral manager implementation
  cores/esp32/esp32-hal-periman.h
  libraries/Ethernet/src/ETH.cpp
  libraries/Ethernet/src/ETH.h
Labels: Status: Test needed, Area: Libraries

#8319 Fix for timeout issues on WebServer.cpp
  libraries/WebServer/src/WebServer.cpp
Labels: Area: BT&Wifi

#8328 Adds HardwareSerial to Peripheral Manager - Arduino 3.0.0
  cores/esp32/HardwareSerial.cpp
  cores/esp32/HardwareSerial.h
  cores/esp32/esp32-hal-uart.c
  cores/esp32/esp32-hal-uart.h
Labels: Area: Peripherals API, Peripheral: UART
