Repository espressif/arduino-esp32, pull requests merged in 2023-03, with the labels that each got.

#8012 corrected spelling mistake
  libraries/WiFiClientSecure/README.md
Labels: Type: Documentation

#7981 Documentation update in `preferences.rst` : fix return value of `getBytes`
  docs/source/api/preferences.rst
Labels: Type: Documentation, Status: Pending Merge

#7965 Fixed memory leaks in rainmaker examples
  boards.txt
  libraries/RainMaker/examples/RMakerCustom/RMakerCustom.ino
  libraries/RainMaker/examples/RMakerCustomAirCooler/RMakerCustomAirCooler.ino
  libraries/RainMaker/examples/RMakerSonoffDualR3/RMakerSonoffDualR3.ino
  libraries/RainMaker/examples/RMakerSwitch/RMakerSwitch.ino
  libraries/RainMaker/src/RMakerDevice.cpp
Labels: Area: Rainmaker

#7935 Add setMode function HardwareSerial.c to set the esp32 uart mode for use with RS485 auto RTS
  cores/esp32/HardwareSerial.cpp
  cores/esp32/HardwareSerial.h
  cores/esp32/esp32-hal-uart.c
  cores/esp32/esp32-hal-uart.h
Labels: Peripheral: UART, Status: Review needed

#7926 Use enum for C++ to avoid macro pitfalls in esp32_hal_uart.h
  cores/esp32/esp32-hal-uart.h
Labels: Peripheral: UART, Status: Review needed

#7913 Fix the F_CPU frequency definition for the ESP32-S3 in esp32-hal.h
  .github/ISSUE_TEMPLATE/Issue-report.yml
  cores/esp32/esp32-hal.h
Labels: Status: Awaiting triage, Status: Review needed

#7892 Create Stamp-S3 pins_arduino.h and Stamp-S3 Board
  boards.txt
  variants/m5stack_stamp_s3/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#7875 Rainmaker: Added enableSystemService API
  docs/source/api/espnow.rst
  docs/source/api/rainmaker.rst
  libraries/RainMaker/examples/RMakerSwitch/RMakerSwitch.ino
  libraries/RainMaker/src/RMaker.cpp
  libraries/RainMaker/src/RMaker.h
Labels: Status: Pending Merge, Area: Rainmaker

#7958 missing ESP32-D0WDR2-V3 added to getChipModel()
  cores/esp32/Esp.cpp
Labels: Status: Awaiting triage, Status: Review needed

#7934 Added HTTPUpdate request callback
  libraries/HTTPUpdate/examples/httpUpdateSecure/httpUpdateSecure.ino
  libraries/HTTPUpdate/src/HTTPUpdate.cpp
  libraries/HTTPUpdate/src/HTTPUpdate.h
Labels: Status: Review needed

#7924 in BluetoothSerial.setTimeout also set timeout for parent class Stream.
  libraries/BluetoothSerial/src/BluetoothSerial.cpp
Labels: Area: BT&Wifi

#7904 TIMER refactoring
  cores/esp32/esp32-hal-timer.c
  cores/esp32/esp32-hal-timer.h
  libraries/ESP32/examples/Timer/RepeatTimer/RepeatTimer.ino
  libraries/ESP32/examples/Timer/WatchdogTimer/WatchdogTimer.ino
  tests/timer/timer.ino
Labels: Area: Peripherals API, hil_test, Status: Review needed
