Repository espressif/arduino-esp32, pull requests merged in 2023-04, with the labels that each got.

#8003 [CI] External libraries compilation test
  .github/workflows/lib.json
  .github/workflows/lib.yml
  LIBRARIES_TEST.md
  README.md
  docs/source/_static/cross.png
  docs/source/_static/external_library_test_pr.png
  docs/source/_static/external_library_test_schedule.png
  docs/source/_static/green_checkmark.png
  docs/source/_static/warning.png
  docs/source/external_libraries_test.rst
  docs/source/index.rst
Labels: Type: CI & Testing, Status: Pending Merge, lib_test

#7877 Update heltec wifi v3 pin definitions
  variants/heltec_wifi_kit_32_v3/pins_arduino.h
  variants/heltec_wifi_lora_32_V3/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#7883 ADD: heltec wsl v3 pinout information
  variants/heltec_wireless_stick_lite_v3/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#7971 new variant Seeed XIAO_ESP32S3
  boards.txt
  libraries/ESP32/examples/Camera/CameraWebServer/CameraWebServer.ino
  libraries/ESP32/examples/Camera/CameraWebServer/camera_pins.h
  variants/XIAO_ESP32S3/bootloader-tinyuf2.bin
  variants/XIAO_ESP32S3/partitions-8MB.csv
  variants/XIAO_ESP32S3/pins_arduino.h
  variants/XIAO_ESP32S3/tinyuf2.bin
Labels: Status: Pending Merge, Type: 3rd party Boards

#7997 added Bee Data Logger board
  boards.txt
  variants/Bee_Data_Logger/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#8018 Update and Fix Pins Definition of Deneyap Boards
  variants/deneyapkart/pins_arduino.h
  variants/deneyapkart1A/pins_arduino.h
  variants/deneyapkart1Av2/pins_arduino.h
  variants/deneyapkartg/pins_arduino.h
  variants/deneyapmini/pins_arduino.h
  variants/deneyapminiv2/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#8031 Fix broken link for external library test
  README.md
Labels: Status: Pending Merge

#8035 CI External Libraries Test - Results comment fix
  .github/workflows/lib.json
  .github/workflows/lib.yml
  .github/workflows/publishlib.yml
Labels: lib_test

#7911 CI HW Testing Update
  .github/scripts/sketch_utils.sh
  .github/scripts/tests_run.sh
  .github/workflows/hil.yml
  tests/touch/touch.ino
Labels: Type: CI & Testing, hil_test

#7941 Completely inline the helper pure abstract __FlashStringHelper class
  cores/esp32/Print.cpp
  cores/esp32/Print.h
  cores/esp32/WString.cpp
  cores/esp32/WString.h
  libraries/WebServer/src/Uri.h
Labels: Status: Awaiting triage, Status: Review needed, lib_test

#7876 Update boardmanager links on Installing page to use CDN backed github links
  docs/source/installing.rst
Labels: Type: Documentation

#8011 Add Insights in Rainmaker Switch example
  CMakeLists.txt
  libraries/Insights/src/Insights.cpp
  libraries/Insights/src/Insights.h
  libraries/RainMaker/examples/RMakerSwitch/RMakerSwitch.ino
  libraries/RainMaker/src/AppInsights.cpp
  libraries/RainMaker/src/AppInsights.h
Labels: Type: Example, Area: Rainmaker

#8058 Makes Gamepad example able to be tested with Windows 10/11
  libraries/USB/examples/Gamepad/Gamepad.ino
Labels: Type: Example

#8072 [CI] External Libraries Test - Results file relocation
  .github/workflows/lib.yml
  LIBRARIES_TEST.md
  README.md
  docs/source/external_libraries_test.rst
Labels: Type: CI & Testing

#8038 Add LOLIN S3 Pro board def
  boards.txt
  variants/lolin_s3_pro/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#8089 [CI] External Libraries Test - Results file push fix
  .github/workflows/lib.yml
Labels: Type: CI & Testing

#8079 getNextFileName: Get info whether filename is a file or directory
  libraries/FS/src/FS.cpp
  libraries/FS/src/FS.h
  libraries/FS/src/FSImpl.h
  libraries/FS/src/vfs_api.cpp
  libraries/FS/src/vfs_api.h
Labels: Area: Performance, Area: Libraries, Status: Pending Merge

#8095 [All Arduino Cores] Adds HardwareSerial Example
  libraries/ESP32/examples/Serial/Serial_All_CPU_Freqs.ino
Labels: Type: Example, Peripheral: UART

#8097 [Arduino Core 3.0.0] Fixes UART to work with any APB Freq
  cores/esp32/esp32-hal-uart.c
Labels: Peripheral: UART

#8099 [CI] Boards test fix + sketch
  .github/workflows/boards.yml
  libraries/ESP32/examples/CI/CIBoardsTest/CIBoardsTest.ino
Labels: Type: CI & Testing

#8100 [CI] Boards test fix
  .github/scripts/find_new_boards.sh
  .github/workflows/boards.yml
Labels: Type: CI & Testing, Status: Pending Merge

#8094 Add LOLIN S3 Mini board def
  boards.txt
  variants/lolin_s3_mini/pins_arduino.h
Labels: Type: 3rd party Boards

#8092 Add v2.0.8 into Issue Template
  .github/ISSUE_TEMPLATE/Issue-report.yml
Labels: Status: Pending Merge
