Repository espressif/arduino-esp32, pull requests merged in 2023-02, with the labels that each got.

#7801 Adds softAp(String) to make it compatible with ESP8266
  libraries/WiFi/src/WiFiAP.h
Labels: Area: BT&Wifi

#7800 Fix commentary in code
  libraries/Ethernet/src/ETH.cpp
Labels: Status: Pending Merge

#7794 Add Adafruit new board feather esp32s2 reserve tft
  boards.txt
  variants/adafruit_feather_esp32s2_reversetft/variant.cpp
Labels: Status: Pending Merge, Type: 3rd party Boards

#7744 bugfix: add <stdint.h> for uint8_t in FunctionalInterrupt.h to avoid compilation failure (GCC 11.2.0)
  cores/esp32/FunctionalInterrupt.h
Labels: Status: Review needed

#7735 Adding 3rd party boards for VALTRACK-V4-VTS-ESP32-C3 & VALTRACK-V4-MFW-ESP32-C3
  boards.txt
  variants/VALTRACK_V4_MFW_ESP32_C3/pins_arduino.h
  variants/VALTRACK_V4_VTS_ESP32_C3/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#7725 Update Platformio CI
  .github/scripts/install-platformio-esp32.sh
Labels: IDE: PlaformIO, Status: Review needed

#7711 WiFiClient example fix
  libraries/WiFi/examples/WiFiClient/README.md
  libraries/WiFi/examples/WiFiClient/WiFiClient.ino
Labels: Type: Example, Status: Pending Merge

#7709 Mirror I2C pin update from Heltec repository
  variants/heltec_wifi_lora_32_V3/pins_arduino.h
Labels: Type: 3rd party Boards, Status: Review needed

#7697 Fix missing options in board.txt
  boards.txt
Labels: Type: 3rd party Boards, Status: Review needed

#7696 Change header gaurd name
  libraries/Update/src/Update.h
Labels: Status: Needs investigation

#7691 Fix Name
  libraries/Update/src/HttpsOTAUpdate.h
Labels: Status: Pending Merge

#7686 Fix error in WiFiClient.cpp where the connect function fails for timeouts below 1 second
  libraries/WiFi/src/WiFiClient.cpp
  libraries/WiFi/src/WiFiClient.h
Labels: Area: BT&Wifi, Status: Pending Merge

#7674 fixed the function header
  docs/source/api/sigmadelta.rst
Labels: Type: Documentation, Status: Pending Merge

#7664 Ticker fix solving #6155
  libraries/Ticker/examples/Arguments/Arguments.ino
Labels: Type: Example, Status: Pending Merge

#7646 setPins fix (CONFIG_IDF_TARGET_ESP32 only): "specified pins are not supported by this chip."
  libraries/SD_MMC/src/SD_MMC.cpp
Labels: Area: Libraries, Status: Pending Merge

#7643 Allow passing IP as connect method parameter in WiFiClientSecure
  libraries/WiFiClientSecure/src/WiFiClientSecure.cpp
  libraries/WiFiClientSecure/src/WiFiClientSecure.h
  libraries/WiFiClientSecure/src/ssl_client.cpp
  libraries/WiFiClientSecure/src/ssl_client.h
Labels: Area: BT&Wifi, Status: Review needed

#7636 airm2m_core_esp32c3 board Add LED_BUILTIN* definitions and initialization for LEDs
  variants/AirM2M_CORE_ESP32C3/pins_arduino.h
  variants/AirM2M_CORE_ESP32C3/variant.cpp
Labels: Status: Pending Merge, Type: 3rd party Boards

#7631 Expand path to tinuf2 image when checking existence in platformio-build.py
  tools/platformio-build.py
Labels: IDE: PlaformIO, Status: Review needed

#7771 ADD: New variant Edgebox-ESP-100
  boards.txt
  variants/Edgebox-ESP-100/pins_arduino.h
Labels: Type: 3rd party Boards

#7790 Add Crabik Slot ESP32-S3 board
  boards.txt
  variants/crabik_slot_esp32_s3/pins_arduino.h
Labels: Type: 3rd party Boards

#7763 new variant LilyGO T-Display-S3
  boards.txt
  variants/lilygo_t_display_s3/pins_arduino.h
Labels: Type: 3rd party Boards

#7774 WString Return bool
  cores/esp32/WString.cpp
  cores/esp32/WString.h
Labels: Status: To be implemented, Status: Review needed

#7672 Add Roboheart Hercules development board to the esp32-core
  boards.txt
  variants/roboheart_hercules/pins_arduino.h
Labels: Resolution: Awaiting response, Status: Pending Merge, Type: 3rd party Boards

#7660 Multi threading examples (tasks, queues, semaphores, mutexes)
  libraries/ESP32/examples/FreeRTOS/BasicMultiThreading/BasicMultiThreading.ino
  libraries/ESP32/examples/FreeRTOS/BasicMultiThreading/README.md
  libraries/ESP32/examples/FreeRTOS/FreeRTOS.ino
  libraries/ESP32/examples/FreeRTOS/Mutex/Mutex.ino
  libraries/ESP32/examples/FreeRTOS/Mutex/README.md
  libraries/ESP32/examples/FreeRTOS/Queue/Queue.ino
  libraries/ESP32/examples/FreeRTOS/Queue/README.md
  libraries/ESP32/examples/FreeRTOS/Semaphore/README.md
  libraries/ESP32/examples/FreeRTOS/Semaphore/Semaphore.ino
Labels: Type: Example

#7809 Added function timerAttachInterruptFlag to timer api
  cores/esp32/esp32-hal-timer.c
  cores/esp32/esp32-hal-timer.h
Labels: Area: Peripherals API, Status: Needs investigation

#7832 Avoid starting AP Mode even when the password is too short
  libraries/WiFi/examples/WiFiAccessPoint/WiFiAccessPoint.ino
  libraries/WiFi/src/WiFiAP.cpp
Labels: Area: BT&Wifi

#7778 Added methods + example to retrive local MAC for BT
  libraries/BluetoothSerial/examples/GetLocalMAC/.skip.esp32c3
  libraries/BluetoothSerial/examples/GetLocalMAC/.skip.esp32s2
  libraries/BluetoothSerial/examples/GetLocalMAC/.skip.esp32s3
  libraries/BluetoothSerial/examples/GetLocalMAC/GetLocalMAC.ino
  libraries/BluetoothSerial/src/BTAddress.cpp
  libraries/BluetoothSerial/src/BTAddress.h
  libraries/BluetoothSerial/src/BTAdvertisedDeviceSet.cpp
  libraries/BluetoothSerial/src/BTScanResultsSet.cpp
  libraries/BluetoothSerial/src/BluetoothSerial.cpp
  libraries/BluetoothSerial/src/BluetoothSerial.h
Labels: Area: BT&Wifi, Type: Example

#7818 Update definition for RedPill+ ESP32-S3.
  variants/redpill_esp32s3/pins_arduino.h
Labels: Type: 3rd party Boards

#7838 Sets correct code for UART baud rate detection
  cores/esp32/esp32-hal-uart.c
Labels: Peripheral: UART

#7851 Adds onDisconnect() BLE param
  libraries/BLE/src/BLEServer.cpp
Labels: Area: BT&Wifi

#7632 Register Ethernet `netif` in WiFiGeneric to
  libraries/Ethernet/src/ETH.cpp
Labels: Area: BT&Wifi, Status: Review needed

#7765 Fixed String(int64_t)
  cores/esp32/WString.cpp
  cores/esp32/WString.h
Labels: Status: To be implemented, Status: In Progress

#7835 Add support for dfrobot firebeetle 2 esp32-e board
  boards.txt
  variants/dfrobot_firebeetle2_esp32e/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#7846 Update heltec_wifi v3 pins
  variants/heltec_wifi_kit_32_v3/pins_arduino.h
  variants/heltec_wifi_lora_32_V3/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#7727 General examples updates
  libraries/BLE/examples/BLE5_extended_scan/BLE5_extended_scan.ino
  libraries/BLE/examples/BLE5_periodic_sync/BLE5_periodic_sync.ino
  libraries/BluetoothSerial/examples/SerialToSerialBT/SerialToSerialBT.ino
  libraries/BluetoothSerial/examples/SerialToSerialBTM/SerialToSerialBTM.ino
  libraries/ESP32/examples/ESPNow/ESPNow_Basic_Master/ESPNow_Basic_Master.ino
  libraries/ESP32/examples/ESPNow/ESPNow_Basic_Slave/ESPNow_Basic_Slave.ino
  libraries/ESP32/examples/ESPNow/ESPNow_MultiSlave_Master/ESPNow_MultiSlave_Master.ino
  libraries/ESP32/examples/ESPNow/ESPNow_MultiSlave_Slave/ESPNow_MultiSlave_Slave.ino
  libraries/ESP32/examples/GPIO/FunctionalInterrupt/FunctionalInterrupt.ino
  libraries/ESP32/examples/GPIO/FunctionalInterruptStruct/FunctionalInterruptStruct.ino
  libraries/WebServer/examples/MultiHomedServers/MultiHomedServers.ino
  libraries/WebServer/examples/MultiHomedServers/README.md
  libraries/WiFiClientSecure/README.md
  libraries/WiFiClientSecure/examples/WiFiClientSecureEnterprise/WiFiClientSecureEnterprise.ino
Labels: Type: Example, Status: Pending Merge

#7791 Fix for negative temp in Eddystone TLM; solving #7618
  libraries/BLE/examples/BLE_Beacon_Scanner/BLE_Beacon_Scanner.ino
  libraries/BLE/examples/BLE_EddystoneTLM_Beacon/BLE_EddystoneTLM_Beacon.ino
  libraries/BLE/src/BLEBeacon.cpp
  libraries/BLE/src/BLEEddystoneTLM.cpp
  libraries/BLE/src/BLEEddystoneTLM.h
  libraries/BLE/src/BLEEddystoneURL.h
Labels: Type: Example, Status: Review needed

#7871 Add v2.0.7 in issue template
  .github/ISSUE_TEMPLATE/Issue-report.yml
Labels: Type: Documentation, Status: Pending Merge
