Repository espressif/arduino-esp32, pull requests merged in 2024-02, with the labels that each got.

#9196 [Docs] Change/clean the requirements file
  docs/requirements.txt
Labels: Type: Documentation, Type: CI & Testing

#9167 fix(webserver): Proposal for simplifying webserver file uploads via form POST.
  libraries/WebServer/src/Parsing.cpp
Labels: Area: Libraries, Status: Review needed

#9024 Add Zigbee examples
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Bulb/.skip.esp32
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Bulb/.skip.esp32c3
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Bulb/.skip.esp32c6
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Bulb/.skip.esp32h2
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Bulb/.skip.esp32s2
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Bulb/.skip.esp32s3
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Bulb/README.md
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Bulb/Zigbee_Light_Bulb.ino
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Switch/.skip.esp32
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Switch/.skip.esp32c3
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Switch/.skip.esp32c6
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Switch/.skip.esp32h2
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Switch/.skip.esp32s2
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Switch/.skip.esp32s3
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Switch/README.md
  libraries/ESP32/examples/Zigbee/Zigbee_Light_Switch/Zigbee_Light_Switch.ino
  tools/partitions/zigbee_zczr.csv
Labels: Area: Libraries, Type: Example

#9202 Add support for hidden networks in WiFiMulti
  libraries/WiFi/src/WiFiMulti.cpp
  libraries/WiFi/src/WiFiMulti.h
Labels: Status: Pending Merge, Area: WiFi

#9215 Backport: ArduinoOTA upload intermittent failure fixed
  libraries/ArduinoOTA/src/ArduinoOTA.cpp
Labels: Status: Pending Merge

#9005 fix(esp32): Added a timeout option to the BLEClient's connect function
  libraries/BLE/src/BLEClient.cpp
  libraries/BLE/src/BLEClient.h
Labels: Status: Pending Merge, Area: BLE

#7860 Rework cbuf to use FreeRTOS Ringbuffer
  cores/esp32/cbuf.cpp
  cores/esp32/cbuf.h
Labels: Status: Review needed

#5807 Adds feature to decrypt uploaded image bin files. Used esp-idf to encrypt a bin file.
  libraries/Update/examples/HTTP_Client_AES_OTA_Update/.skip.esp32h2
  libraries/Update/examples/HTTP_Client_AES_OTA_Update/HTTP_Client_AES_OTA_Update.ino
  libraries/Update/examples/HTTP_Client_AES_OTA_Update/updater.php
  libraries/Update/examples/HTTP_Server_AES_OTA_Update/.skip.esp32h2
  libraries/Update/examples/HTTP_Server_AES_OTA_Update/HTTP_Server_AES_OTA_Update.ino
  libraries/Update/src/Update.h
  libraries/Update/src/Updater.cpp
Labels: Status: Review needed

#9222 Server Side Events
  libraries/WebServer/src/WebServer.cpp
  libraries/WiFi/src/WiFiClient.cpp
  libraries/WiFi/src/WiFiClient.h
Labels: Status: Pending Merge

#9116 Implement official Arduino IDE debugger API
  .github/scripts/on-release.sh
  boards.txt
  platform.txt
  tools/ide-debug/esp32.json
  tools/ide-debug/esp32c3.json
  tools/ide-debug/esp32s2.json
  tools/ide-debug/esp32s3-arduino.json
  tools/ide-debug/esp32s3.json
Labels: IDE: Arduino IDE, Status: Review needed

#9118 Implement official Arduino IDE debugger API on 2.x
  .github/scripts/on-release.sh
  boards.txt
  platform.txt
  tools/ide-debug/esp32.json
  tools/ide-debug/esp32c3.json
  tools/ide-debug/esp32s2.json
  tools/ide-debug/esp32s3-arduino.json
  tools/ide-debug/esp32s3.json
Labels: IDE: Arduino IDE, Status: Review needed

#9224 Fix AdvancedWebServer.ino uptime conversion
  libraries/WebServer/examples/AdvancedWebServer/AdvancedWebServer.ino
Labels: Type: Example

#9228 Fix C2 compilation for Updater.cpp
  libraries/Update/src/Update.h
  libraries/Update/src/Updater.cpp
Labels: Status: Pending Merge

#9103 feature: create a Trust on First Use example
  libraries/WiFiClientSecure/examples/WiFiClientInsecure/WiFiClientInsecure.ino
  libraries/WiFiClientSecure/examples/WiFiClientTrustOnFirstUse/.skip.esp32h2
  libraries/WiFiClientSecure/examples/WiFiClientTrustOnFirstUse/WiFiClientTrustOnFirstUse.ino
  libraries/WiFiClientSecure/src/WiFiClientSecure.cpp
Labels: Type: Example, Status: Pending Merge, Area: WiFi

#9100 Support for STARTLS/STARTSSL in-band transport upgrades/renegotation
  libraries/WiFiClientSecure/examples/WiFiClientSecureProtocolUpgrade/.skip.esp32h2
  libraries/WiFiClientSecure/examples/WiFiClientSecureProtocolUpgrade/WiFiClientSecureProtocolUpgrade.ino
  libraries/WiFiClientSecure/src/WiFiClientSecure.cpp
  libraries/WiFiClientSecure/src/WiFiClientSecure.h
  libraries/WiFiClientSecure/src/ssl_client.cpp
  libraries/WiFiClientSecure/src/ssl_client.h
Labels: Area: Libraries, Status: Pending Merge

#9205 feat: Add board revisions V1/V2/V3 to Heltec Wireless Stick
  boards.txt
  variants/heltec_wireless_stick_V1/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#9245 Fixes Pointer and Call using Serial BT callback
  libraries/BluetoothSerial/src/BluetoothSerial.cpp
  libraries/BluetoothSerial/src/BluetoothSerial.h
Labels: Type: Bug :bug:, Area: BT&Wifi

#9242 Added pin check in ETH examples to avoid redefinition
  libraries/Ethernet/examples/ETH_LAN8720/ETH_LAN8720.ino
  libraries/Ethernet/examples/ETH_TLK110/ETH_TLK110.ino
  libraries/Ethernet/examples/ETH_W5500_Arduino_SPI/ETH_W5500_Arduino_SPI.ino
  libraries/Ethernet/examples/ETH_W5500_IDF_SPI/ETH_W5500_IDF_SPI.ino
Labels: Area: Libraries, Status: Review needed

#9250 feat: Rename Firebeetle ESP32 board definition
  boards.txt
Labels: Status: Pending Merge, Type: 3rd party Boards

#9243 Implement `get_board_f_image `
  tools/platformio-build.py
Labels: IDE: PlaformIO, Status: Pending Merge

#9253 WebServer: Ignore extra headers within multipart forms
  libraries/WebServer/src/Parsing.cpp
Labels: Area: Libraries, Status: Pending Merge

#9266 Update new RMT function rmtSetEOT(pin, EOT_Level) in the pin remap macros
  cores/esp32/io_pin_remap.h
  docs/en/migration_guides/2.x_to_3.0.rst
Labels: Type: Bug :bug:, Status: Pending Merge, 3.0 migration

#9256 feat: Add board support for ThingPulse ePulse Feather
  boards.txt
  variants/thingpulse_epulse_feather/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#9257 feature(ledc): Add output invert option for LEDC pin + minor fixes
  cores/esp32/esp32-hal-ledc.c
  cores/esp32/esp32-hal-ledc.h
  cores/esp32/io_pin_remap.h
  docs/en/api/ledc.rst
  docs/en/migration_guides/2.x_to_3.0.rst
  libraries/ESP32/examples/AnalogOut/LEDCFade/LEDCFade.ino
  libraries/ESP32/examples/AnalogOut/ledcWrite_RGB/ledcWrite_RGB.ino
Labels: Area: Peripherals API, Status: Pending Merge

#9263 add senseBox MCU-S2
  boards.txt
  variants/sensebox_mcu_esp32s2/bootloader-tinyuf2.bin
  variants/sensebox_mcu_esp32s2/partitions-4MB-tinyuf2.csv
  variants/sensebox_mcu_esp32s2/pins_arduino.h
  variants/sensebox_mcu_esp32s2/tinyuf2.bin
  variants/sensebox_mcu_esp32s2/variant.cpp
Labels: Status: Pending Merge, Type: 3rd party Boards

#9272 Added Unexpected Maker BLING
  boards.txt
  variants/um_bling/bootloader_tinyuf2.bin
  variants/um_bling/partitions_tinyuf2.csv
  variants/um_bling/pins_arduino.h
  variants/um_bling/tinyuf2.bin
Labels: Status: Pending Merge, Type: 3rd party Boards

#9262 Fixed "Invalid mbox" error in SimpleTime example
  libraries/ESP32/examples/Time/SimpleTime/SimpleTime.ino
Labels: Type: Bug :bug:, Area: BT&Wifi, Status: Pending Merge

#9268 Fixes sigmaDeltaAttach() when another peripheral is already attached using the same pin
  cores/esp32/esp32-hal-sigmadelta.c
Labels: Type: Bug :bug:, Area: Peripherals API, Status: Pending Merge

#9264 Added support for 2 new Olimex boards and updated 3 existing ones
  boards.txt
  variants/esp32-gateway/pins_arduino.h
  variants/esp32-poe-iso/pins_arduino.h
  variants/esp32-poe/pins_arduino.h
  variants/esp32-sbc-fabgl/pins_arduino.h
  variants/esp32h2-devkit-lipo/pins_arduino.h
Labels: Type: 3rd party Boards

#9269 Add support for the MotorGo Mini board
  boards.txt
  variants/motorgo_mini_1/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#9277 NodeMCU32-S Change default upload speed
  boards.txt
Labels: Type: 3rd party Boards

#9251 [Enhancement] Support no-IRQ for SPI Ethernet W5500
  libraries/Ethernet/src/ETH.cpp
Labels: Area: ESP-IDF related, Area: WiFi, Status: Blocked by ESP-IDF

#9260 Add Board support for Geekble ESP32-C3 Custom Module
  boards.txt
  variants/Geekble_ESP32C3/pins_arduino.h
Labels: Resolution: Awaiting response, Type: 3rd party Boards

#9284 Add WT32-SC01 PLUS support
  boards.txt
  variants/wt32-sc01-plus/bootloader_tinyuf2.bin
  variants/wt32-sc01-plus/partitions_tinyuf2.csv
  variants/wt32-sc01-plus/pins_arduino.h
  variants/wt32-sc01-plus/tinyuf2.bin
Labels: Status: Pending Merge, Type: 3rd party Boards

#9294 Enable USB Serial only if selected
  cores/esp32/HWCDC.cpp
  cores/esp32/HWCDC.h
  cores/esp32/USBCDC.cpp
  cores/esp32/USBCDC.h
  libraries/USB/examples/CompositeDevice/CompositeDevice.ino
  libraries/USB/examples/FirmwareMSC/FirmwareMSC.ino
  libraries/USB/examples/USBMSC/USBMSC.ino
  libraries/USB/examples/USBSerial/USBSerial.ino
Labels: Status: Pending Merge

#9309 fix: Geekble mini board pin fix
  variants/Geekble_ESP32C3/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards
