Repository espressif/arduino-esp32, pull requests merged in 2024-04, with the labels that each got.

#9425 WiFi.config handle Arduino parameters ordering and auto dns,gw,mask
  libraries/WiFi/src/WiFiSTA.cpp
  libraries/WiFi/src/WiFiSTA.h
Labels: Area: WiFi

#9395 Add ESP-NOW Arduino library
  CMakeLists.txt
  docs/en/api/espnow.rst
  libraries/ESP32/examples/ESPNow/ESPNow_Basic_Master/ESPNow_Basic_Master.ino
  libraries/ESP32/examples/ESPNow/ESPNow_Basic_Slave/ESPNow_Basic_Slave.ino
  libraries/ESP32/examples/ESPNow/ESPNow_MultiSlave_Master/ESPNow_MultiSlave_Master.ino
  libraries/ESP32/examples/ESPNow/ESPNow_MultiSlave_Slave/ESPNow_MultiSlave_Slave.ino
  libraries/ESP_NOW/examples/ESP_NOW_Broadcast_Master/.skip.esp32h2
  libraries/ESP_NOW/examples/ESP_NOW_Broadcast_Master/ESP_NOW_Broadcast_Master.ino
  libraries/ESP_NOW/examples/ESP_NOW_Broadcast_Slave/.skip.esp32h2
  libraries/ESP_NOW/examples/ESP_NOW_Broadcast_Slave/ESP_NOW_Broadcast_Slave.ino
  libraries/ESP_NOW/examples/ESP_NOW_Network/.skip.esp32h2
  libraries/ESP_NOW/examples/ESP_NOW_Network/ESP_NOW_Network.ino
  libraries/ESP_NOW/examples/ESP_NOW_Serial/.skip.esp32h2
  libraries/ESP_NOW/examples/ESP_NOW_Serial/ESP_NOW_Serial.ino
  libraries/ESP_NOW/library.properties
  libraries/ESP_NOW/src/ESP32_NOW.cpp
  libraries/ESP_NOW/src/ESP32_NOW.h
  libraries/ESP_NOW/src/ESP32_NOW_Serial.cpp
  libraries/ESP_NOW/src/ESP32_NOW_Serial.h
Labels: Area: Libraries, Status: Review needed

#9455 ESP-NOW: Fix examples and improve logging
  libraries/ESP_NOW/examples/ESP_NOW_Broadcast_Master/ESP_NOW_Broadcast_Master.ino
  libraries/ESP_NOW/examples/ESP_NOW_Broadcast_Slave/ESP_NOW_Broadcast_Slave.ino
  libraries/ESP_NOW/examples/ESP_NOW_Network/ESP_NOW_Network.ino
  libraries/ESP_NOW/examples/ESP_NOW_Serial/ESP_NOW_Serial.ino
  libraries/ESP_NOW/src/ESP32_NOW.h
Labels: Area: Peripherals API

#9453 WiFiClient - rename flush() to clear()
  docs/en/migration_guides/2.x_to_3.0.rst
  libraries/Network/src/NetworkClient.cpp
  libraries/Network/src/NetworkClient.h
  libraries/Network/src/NetworkUdp.cpp
  libraries/Network/src/NetworkUdp.h
  libraries/WiFi/examples/WiFiIPv6/WiFiIPv6.ino
Labels: Area: Peripherals API, Status: Pending Merge, Area: WiFi, Breaking change :fire:

#9458 migration guide: WiFiServer changes
  docs/en/migration_guides/2.x_to_3.0.rst
Labels: Type: Documentation, Status: Pending Merge, 3.0 migration

#9401 fix: HW CDC write()
  cores/esp32/HWCDC.cpp
Labels: Status: In Progress, Backport needed :back:

#9430 Handle large octet-stream
  libraries/WebServer/examples/UploadHugeFile/README.md
  libraries/WebServer/examples/UploadHugeFile/UploadHugeFile.ino
  libraries/WebServer/src/Parsing.cpp
  libraries/WebServer/src/WebServer.cpp
  libraries/WebServer/src/WebServer.h
  libraries/WebServer/src/detail/RequestHandler.h
  libraries/WebServer/src/detail/RequestHandlersImpl.h
Labels: Area: Libraries, Status: Review needed

#9468 fix(sd): AquireSPI lock in sdcard_uninit
  libraries/SD/src/sd_diskio.cpp
Labels: Area: Libraries, Backport needed :back:

#9469 Backport for v2.x : fix(sd): AquireSPI lock in sdcard_uninit
  libraries/SD/src/sd_diskio.cpp
Labels: Area: Libraries

#9462 backports HWCDC to v2.0.15
  cores/esp32/HWCDC.cpp
  cores/esp32/HWCDC.h
  libraries/ESP32/examples/HWCDC_Events/.skip.esp32
  libraries/ESP32/examples/HWCDC_Events/.skip.esp32s2
  libraries/ESP32/examples/HWCDC_Events/HWCDC_Events.ino
Labels: Area: Peripherals API, Status: Pending Merge

#9473 fix: USB HID Keyboard raw report
  libraries/USB/src/USBHIDKeyboard.cpp
Labels: Area: Libraries, Status: Pending Merge, Backport needed :back:

#9483 Change name to HWCDC_Events.ino (From HWSerial_Events.ino)
  libraries/ESP32/examples/HWCDC_Events/.skip.esp32
  libraries/ESP32/examples/HWCDC_Events/.skip.esp32s2
  libraries/ESP32/examples/HWCDC_Events/HWCDC_Events.ino
Labels: Type: Example

#9511 Fix typo in Updater.cpp
  libraries/Update/src/Updater.cpp
Labels: Area: Libraries

#9494 change(roboheart): Update of LED_ROBOHEART in RoboHeart Hercules pins…
  variants/roboheart_hercules/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#9354 add LittleFS as partition type to debug report
  cores/esp32/chip-debug-report.cpp
Labels: Area: ESP-IDF related, Status: Pending Merge

#9507 feat(doc): Add note about default pin changes to migration guide
  docs/en/migration_guides/2.x_to_3.0.rst
Labels: Type: Documentation, Status: Pending Merge, Peripheral: UART, 3.0 migration

#9521 ci(touch_test): Change released test value for ESP32
  tests/touch/touch.ino
Labels: Type: CI & Testing, hil_test, Status: Pending Merge

#9527 IDF c432c692fa
  package/package_esp32_index.template.json
Labels: Status: Pending Merge

#9524 [CI] Get sizes from push workflow, updated build scripts
  .github/scripts/on-push.sh
  .github/scripts/sketch_utils.sh
  .github/workflows/lib.yml
  .github/workflows/publishlib.yml
  .github/workflows/publishsizes.yml
  .github/workflows/push.yml
Labels: Type: CI & Testing, Status: Pending Merge

#9528 IDF release/v5.1
  package/package_esp32_index.template.json
Labels: Status: Pending Merge

#9529 Fixed typo for adc_continuous_data typedef in esp32-hal-adc.h/.c
  cores/esp32/esp32-hal-adc.c
  cores/esp32/esp32-hal-adc.h
  docs/en/api/adc.rst
  libraries/ESP32/examples/AnalogReadContinuous/AnalogReadContinuous.ino
  tests/periman/periman.ino
Labels: Area: Peripherals API, Status: Pending Merge

#9518 Add support for PPP Modems to Arduino
  CMakeLists.txt
  Kconfig.projbuild
  cores/esp32/esp32-hal-periman.c
  cores/esp32/esp32-hal-periman.h
  idf_component.yml
  libraries/Network/src/NetworkEvents.cpp
  libraries/Network/src/NetworkEvents.h
  libraries/Network/src/NetworkInterface.cpp
  libraries/PPP/examples/PPP_Basic/PPP_Basic.ino
  libraries/PPP/library.properties
  libraries/PPP/src/PPP.cpp
  libraries/PPP/src/PPP.h
  libraries/PPP/src/ppp.c
  package/package_esp32_index.template.json
Labels: Area: LIB Builder, Status: Pending Merge, Status: Blocked upstream 🛑

#9535 ci(libs): Add concurrency group to external libs test
  .github/workflows/lib.yml
Labels: Type: CI & Testing, Status: Pending Merge

#9536 fix(release): Temporary halt JSON uploads on release, until generator is fixed
  .github/scripts/on-release.sh
Labels: Type: CI & Testing, Status: Pending Merge

#9539 Ethernet - MAC address parameter for beginSPI
  libraries/Ethernet/src/ETH.cpp
  libraries/Ethernet/src/ETH.h
Labels: Status: Pending Merge

#9554 Fix hal-uart truncated tx/rx buffer size (uint16_t -> uint32_t)
  cores/esp32/esp32-hal-uart.c
  cores/esp32/esp32-hal-uart.h
Labels: Area: Peripherals API, Status: Pending Merge, Peripheral: UART, Backport needed :back:

#9563 Change log level of UART events
  cores/esp32/HardwareSerial.cpp
Labels: Status: Pending Merge, Peripheral: UART

#9565 feat (hwcdc): ports changes made in 2.0.15
  cores/esp32/HWCDC.cpp
  cores/esp32/HWCDC.h
Labels: Area: Peripherals API, Status: Pending Merge
