Repository espressif/arduino-esp32, pull requests merged in 2024-01, with the labels that each got.

#9077 Fixes EspClass::deepSleep(64 bits)
  cores/esp32/Esp.cpp
  cores/esp32/Esp.h
Labels: Status: Pending Merge

#9052 ESP32-S3 PowerFeather Fixes
  boards.txt
  tools/partitions/default_ffat_8MB.csv
  tools/partitions/large_ffat_8MB.csv
  tools/partitions/large_spiffs_8MB.csv
  variants/esp32s3_powerfeather/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#9031 LEDC - Allow custom channel selection
  cores/esp32/esp32-hal-ledc.c
  cores/esp32/esp32-hal-ledc.h
  docs/source/api/ledc.rst
Labels: Area: Peripherals API, Status: Review needed

#9016 This is a continuation on the topic of adding IPv6 Support to ESP32 Arduino
  CMakeLists.txt
  cores/esp32/IPAddress.cpp
  cores/esp32/IPAddress.h
  cores/esp32/IPv6Address.cpp
  cores/esp32/IPv6Address.h
  cores/esp32/StreamString.h
  docs/en/api/wifi.rst
  libraries/AsyncUDP/src/AsyncUDP.cpp
  libraries/AsyncUDP/src/AsyncUDP.h
  libraries/ESPmDNS/examples/mDNS-SD_Extended/mDNS-SD_Extended.ino
  libraries/ESPmDNS/src/ESPmDNS.cpp
  libraries/ESPmDNS/src/ESPmDNS.h
  libraries/Ethernet/src/ETH.cpp
  libraries/Ethernet/src/ETH.h
  libraries/WiFi/examples/WiFiBlueToothSwitch/WiFiBlueToothSwitch.ino
  libraries/WiFi/examples/WiFiIPv6/WiFiIPv6.ino
  libraries/WiFi/src/WiFi.h
  libraries/WiFi/src/WiFiAP.cpp
  libraries/WiFi/src/WiFiAP.h
  libraries/WiFi/src/WiFiClient.cpp
  libraries/WiFi/src/WiFiGeneric.cpp
  libraries/WiFi/src/WiFiGeneric.h
  libraries/WiFi/src/WiFiMulti.cpp
  libraries/WiFi/src/WiFiMulti.h
  libraries/WiFi/src/WiFiSTA.cpp
  libraries/WiFi/src/WiFiSTA.h
  libraries/WiFi/src/WiFiServer.cpp
  libraries/WiFi/src/WiFiServer.h
  libraries/WiFi/src/WiFiUdp.cpp
Labels: Status: Review needed, Area: WiFi

#9029 WiFiClient - assignment shouldn't stop connection
  libraries/WiFi/src/WiFiClient.cpp
  libraries/WiFi/src/WiFiClient.h
Labels: Status: Review needed, Area: WiFi

#9114 fix(esp32): Set the maximum value of AnalogRead to 4095
  libraries/ESP32/examples/AnalogRead/AnalogRead.ino
Labels: Type: Example, Status: Pending Merge

#9115 fix(doc): Delete the hall sensor of ESP32
  docs/en/libraries.rst
Labels: Type: Documentation, Status: Pending Merge

#9089 Add LED pin aliases to Arduino Nano ESP32 for portability
  variants/arduino_nano_nora/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#9080 add heltec_wireless_tracker board
  boards.txt
  variants/heltec_wireless_tracker/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#9050 Add MakerGo C3 SuperMini def
  boards.txt
  variants/makergo_c3_supermini/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#9095 UART: fixes begin() after a previous begin() :: deleting previous RX/TX buffers and its data
  cores/esp32/HardwareSerial.cpp
  cores/esp32/HardwareSerial.h
  cores/esp32/esp32-hal-uart.c
  cores/esp32/esp32-hal-uart.h
  tests/uart/uart.ino
Labels: Peripheral: UART

#8811 CI: Add peripheral manager test
  tests/periman/periman.ino
  tests/periman/test_periman.py
Labels: Type: CI & Testing, Area: Peripherals API, hil_test, Status: Pending Merge

#9121 Backport fix linker failure
  libraries/FS/src/FSImpl.h
Labels: Status: Pending Merge

#9001 Docs: Fix Arduino as IDF Component instructions
  docs/en/esp-idf_component.rst
Labels: Type: Documentation, Status: Pending Merge, Area: Arduino as ESP-IDF component

#9123 WebServer: use MD5Builder instead of mbedtls
  libraries/WebServer/src/WebServer.cpp
Labels: Status: Pending Merge

#9127 [Docs] CI changed deploy server from preview to production
  .github/workflows/docs_build.yml
  .github/workflows/docs_deploy.yml
  .github/workflows/docs_preview.yml
Labels: Type: Documentation, Type: CI & Testing

#9128 Redo: Docs (API): Adding a note to the Documentation and ReadMe about APIs compatibility
  README.md
  docs/en/libraries.rst
Labels: Type: Documentation, Area: Peripherals API, Status: Pending Merge

#9062 WiFi.disconnect() "aligned with Aduino.cc". waiting for status change.
  libraries/WiFi/src/WiFiSTA.cpp
  libraries/WiFi/src/WiFiSTA.h
Labels: Status: Review needed, Area: WiFi

#9117 SPI - Allow detaching of some SPI pins without stopping SPI
  cores/esp32/esp32-hal-periman.c
  cores/esp32/esp32-hal-periman.h
  cores/esp32/esp32-hal-spi.c
  cores/esp32/esp32-hal-spi.h
  libraries/SPI/src/SPI.cpp
Labels: Area: Peripherals API, Area: Libraries

#9104 change(MD5Builder): Const-correctness.
  cores/esp32/HashBuilder.h
  cores/esp32/MD5Builder.cpp
  cores/esp32/MD5Builder.h
  cores/esp32/SHA1Builder.cpp
  cores/esp32/SHA1Builder.h
Labels: Status: Pending Merge

#9141 Fixed duplicated getType documentation.
  docs/en/api/preferences.rst
Labels: Type: Documentation

#9142 Added isKey documentation for the Preferences library
  docs/source/api/preferences.rst
Labels: Type: Documentation

#9030 Add I2S examples and documentation
  docs/en/api/i2s.rst
  libraries/ESP_I2S/examples/ES8388_loopback/ES8388.cpp
  libraries/ESP_I2S/examples/ES8388_loopback/ES8388.h
  libraries/ESP_I2S/examples/ES8388_loopback/ES8388_loopback.ino
  libraries/ESP_I2S/examples/Record_to_WAV/.skip.esp32c3
  libraries/ESP_I2S/examples/Record_to_WAV/.skip.esp32c6
  libraries/ESP_I2S/examples/Record_to_WAV/.skip.esp32h2
  libraries/ESP_I2S/examples/Record_to_WAV/.skip.esp32s2
  libraries/ESP_I2S/examples/Record_to_WAV/Record_to_WAV.ino
  libraries/ESP_I2S/examples/Simple_tone/Simple_tone.ino
Labels: Type: Documentation, Area: Libraries, Type: Example, Status: Review needed

#9162 IDF Component YAML fixes - Add license, include example + readme in ESP Registry
  idf_component.yml
Labels: Area: Arduino as ESP-IDF component

#8725 Create new pins_arduino.h and update boards.txt to add Heltec Wireless Tracker board
  boards.txt
  variants/heltec_wireless_tracker/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#8930 WiFiServer - don't inherit from Print and Server
  libraries/WiFi/src/WiFiServer.cpp
  libraries/WiFi/src/WiFiServer.h
Labels: Status: Review needed, Area: WiFi

#9139 Improves WiFiMulti
  libraries/WiFi/examples/WiFiMultiAdvanced/.skip.esp32h2
  libraries/WiFi/examples/WiFiMultiAdvanced/WiFiMultiAdvanced.ino
  libraries/WiFi/src/WiFiMulti.cpp
  libraries/WiFi/src/WiFiMulti.h
Labels: Area: BT&Wifi, Status: Pending Merge

#8817 Fix ambiguous for TwoWire::requestFrom() methods and align API with Arduino.cc
  cores/esp32/HardwareI2C.h
  libraries/Wire/src/Wire.cpp
  libraries/Wire/src/Wire.h
Labels: hil_test, Status: Pending Merge

#9158 Adds SparkFun Pro Micro C3 Variant File
  boards.txt
  variants/sparkfun_pro_micro_esp32c3/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#9178 Add SparkFun ESP32-C6 Thing Plus Variant
  boards.txt
  variants/sparkfun_esp32c6_thing_plus/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards

#2849 Ticker updated to match extensions in ESP8266 API
  libraries/Ticker/examples/Arguments/Arguments.ino
  libraries/Ticker/examples/TickerBasic/TickerBasic.ino
  libraries/Ticker/examples/TickerParameter/TickerParameter.ino
  libraries/Ticker/keywords.txt
  libraries/Ticker/src/Ticker.cpp
  libraries/Ticker/src/Ticker.h
Labels: Area: Peripherals API, Status: Pending Merge

#4657 ArduinoOTA upload intermittent failure fixed
  libraries/ArduinoOTA/src/ArduinoOTA.cpp
Labels: Status: Pending Merge

#9194 [CI] Update workflows actions to latest versions with Node.js 20
  .github/workflows/allboards.yml
  .github/workflows/boards.yml
  .github/workflows/build_py_tools.yml
  .github/workflows/docs_build.yml
  .github/workflows/docs_deploy.yml
  .github/workflows/gh-pages.yml
  .github/workflows/hil.yml
  .github/workflows/lib.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/upload-idf-component.yml
Labels: Type: CI & Testing

#9181 Add board support for Nologo ESP32S3 Pico
  boards.txt
  variants/nologo_esp32s3_pico/pins_arduino.h
Labels: Status: Pending Merge, Type: 3rd party Boards
